# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
/.kotlin/
local.properties
app/agconnect-services.json
*.iml
*.hprof
.cxx/

# generated inline modules
app/src/main/java/inline/

# Bundle artifacts
*.jsbundle
